button.btn {
  margin: 40px 0 15px 0;

  @include mobile {
    margin: 20px 0 15px 0;
  }

  background-color: #6ED9A0;
  width: 100%;
  min-height: 55px;
  color: #F6F8F7;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  @include font-size(18px, 20px);
  letter-spacing: 1.2px;
  font-weight: 700;
  transition: all 200ms ease-in-out;

  @include mobile {
    min-height: 45px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 6px #6ED9A0;
  }

  &:active {
    transform: translateY(5px);
  }
}

.btn-link {
  color: #5B666B;
  text-decoration: none;
  @include font-size(14px, 16px);
  min-height: 20px;
  transition: all 200ms ease-in-out;
  outline: none;

  &:hover,
  &:focus {
    color: #F6F8F7;
    text-shadow: 0 0 0.5px #F6F8F7;
  }
}