div.form-group {
  margin: 30px 0;
  text-align: left;

  label.form-label {
    display: block;
    color: #9BA7A5;
    @include font-size(14px, 16px);
    margin-bottom: 6px;
  }

  input.form-control {
    // border: 1px solid #9BA7A5;
    border: 2px solid #5B666B;
    min-height: 55px;
    width: 100%;
    background: transparent;
    padding: 0 15px;
    border-radius: 5px;
    outline: none;
    transition: all 200ms ease-in-out;
    color: #F6F8F7;
    @include font-size(18px, 20px);

    @include mobile {
      min-height: 45px;
    }

    &:focus {
      border: 2px solid #6ED9A0;
      box-shadow: 0 0 6px #6ED9A0;
    }
  }

  &.has-error {
    .form-label {
      color: lighten($color: $color-red, $amount: 10);
    }

    .form-control {
      border: 2px solid $color-red !important;
      
      &:focus {
        box-shadow: 0 0 6px $color-red;
      }
    }
  }

  &.has-warning {
    .form-label {
      color: lighten($color: orange, $amount: 10);
    }

    .form-control {
      border: 2px solid orange !important;
      
      &:focus {
        box-shadow: 0 0 6px orange;
      }
    }
  }
}