@import "form";
@import "button";

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @include mobile {
    width: 100%;
  }
  
  @include tablet {
    width: 750px;
  }

  @include desktop {
    width: 1000px;
  }
}

.content {
  padding: 10px 0;
  h1 {
    text-align: left;
    // @include font-size(20px, 30px);
  }
}
