// Common styles, e.g.: sections

body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  // height: 100%;
}

html {
  display: flex;
  height: 100%;
}

hr {
  height: 1px;
  background-color: #FFFFFF;
}